#bony-orbit-img {
    width: 450px;
}

#bony-openings-img {
    width: 450px;
}

#saggital-muscles-img {
    width: 420px;
}

#muscles-prosection-img {
    width: 420px;
}

#lacrimal-img {
    width: 320px;
}

#eyelid-img {
    width: 380px;
}

#eyeball-layers-img {
    width: 380px;
}

#retina-img {
    width: 400px;
}

#iris-img {
    width: 380px;
}