#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-top: 60px;
  font-size: 40px;
}

h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 800;
}

h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 750;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 550;
}

p, ul {
  margin: 0px;
  font-size: 18px
}

ul {
  margin: 0;
}

a {
  position: relative;
  display: inline-block;
  color: #ff9500;
  text-decoration: none;
  background-color: rgba(255, 162, 0, 0.3);
  padding: 4px 8px;
  border-radius: 6px;
  line-height: 1.2;              /* lock layout height */
  transition: all 0.25s ease;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;   /* reduce AA flicker on some GPUs */
}
a:hover {
  transform: translateY(-4px);
}

a:active {
  transform: translateY(3px);
}

#author-text {
  margin-top: 50px
}

.content-text {
  padding: 10px 20px;
}

/* Container for specific week page */
.week-container {
  padding: 20px;
}

/* container for select week page */
.select-week-container {
  padding: 20px;
}

.week-selections {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-evenly;
}

/* Button */
button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.5s ease;
}
button:hover {
  border-color: rgb(255, 225, 0, 0.7);
  box-shadow: 0px 4px 2px rgba(255, 225, 0, 0.2)
}

button:active {
  border-color: rgb(255, 225, 0, 1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Selecting week button */
.select-week-button {
  padding: 25px 50px 25px 50px;
  margin: 10px;
}

/* Content and Practice buttons */
.week-action-button {
  padding: 25px 50px 25px 50px;
  margin: 25px;
}

/* bottom back button */
.bottom-back-button {
  margin-top: 50px;
}

/* Week selection study tool title (anat3004 study tool!) */
#study-tool-title {
  line-height: 0;
}

.content-text {
  text-align: left;
}

/* WEEK CONTENTS STUFF */
/* Image - Text Formating */
/* Image, text align styling */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.image-text {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 12px;
}

.image-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text-section {
  text-align: left;
  max-width: 680px;
}

/* PRACTICE QUESTIONS IMAGE */
.practice-img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.practice-q-text {
  margin: 8px 0 12px;
  font-size: 25px;
}

.practice-input {
  width: 100%;
  margin: 25px 0 25px 0;
  padding: 12px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  font-size: 16px;
  outline: none;
}

.idk-button {
  background: #ff7913;
  border-color: #ff7913;
  margin: 25px;
  color: white;
  opacity: 0.8;
  transition: all 0.25s ease;
}

.idk-button:hover {
  opacity: 1;
  border-color: #ff7913;
  transform: translateY(-2px);
}

.check-button {
  background: #1d9300;
  border-color: #1d9300;
  margin: 25px 25px 25px 0;
  color: white;
  opacity: 0.8;
  transition: all 0.25s ease;
}

.check-button:hover {
  opacity: 1;
  border-color: #1d9300;
  transform: translateY(-2px);
}

.correct-answer-text {
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  background: rgba(225,29,72, 0.8);
  color: #ffffff;
  font-size: 18px;
}

.correct-answer-text-correct {
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  background: rgba(74, 177, 19, 0.8);
  color: #ffffff;
  font-size: 18px;
}