#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 800;
}

h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 750;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 550;
}

p, ul {
  margin: 0px;
  font-size: 18px
}

ul {
  margin: 0;
}

.content-text {
  padding: 10px 20px;
}

/* Container for specific week page */
.week-container {
  padding: 20px;
}

/* container for select week page */
.select-week-container {
  padding: 20px;
}

.week-selections {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* Button */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Selecting week button */
.select-week-button {
  padding: 25px 50px 25px 50px;
  margin: 10px;
}

/* Content and Practice buttons */
.week-action-button {
  padding: 25px 50px 25px 50px;
  margin: 25px;
}

/* bottom back button */
.bottom-back-button {
  margin-top: 50px;
}

/* Week selection study tool title (anat3004 study tool!) */
#study-tool-title {
  line-height: 0;
}

.content-text {
  text-align: left;
}

/* WEEK CONTENTS STUFF */
/* Image - Text Formating */
/* Image, text align styling */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.image-text {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 12px;
}

.image-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text-section {
  text-align: left;
  max-width: 680px;
}