#tmj-movements-img {
  width: 320px;
}

#masseter-img {
    width: 350px;
}

#coronoid-masseter-img {
    width: 350px;
}

#temporalis-prosection-img {
    width: 320px;
}

#lp-heads-img {
    width: 320px;
}

#lp-attachments-img {
    width: 320px;
}

#mp-heads-img {
    width: 380px;
}

#mp-attachments-img {
    width: 380px;
}

#ant-digastric-img {
    width: 380px;
}

#buccinator-img {
    width: 300px
}

#mm-arterial-img {
    width: 600px;
}

#venous-img {
    width: 600px;
}