#tmj-movements-img {
  width: 320px;
}

#masseter-img {
    width: 350px;
}

#coronoid-masseter-img {
    width: 350px;
}

#temporalis-prosection-img {
    width: 320px;
}

#lp-heads-img {
    width: 320px;
}

#lp-attachments-img {
    width: 320px;
}